* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 1200px;
    background-color: #EEEEEE;
    font-family: 'Georgia Pro' Georgia Arial serif;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: Georgia;
}
.fr {
    float: right;
}

.fl {
    float: left;
}

.clean {
    content: ' ';
    display: block;
    clear: both;
}
.top {
    width: 100%;
    background-color: #3F3F3F;
    height: 80px;
    box-sizing: content-box;
    position: relative;
    /* border: 1px solid  rgb(212, 212, 212); */
}
header {
    width: 100%;
    overflow: hidden;
}
.container {
    width: 980px;
    margin: 0 auto;

}
.container-banner {
    height: 100%;
    position: relative;
}
.banner {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 5px;

}
ul {
    list-style: none;
    font-family: SimSun;
}
.banner ul {
    float: right;
}
.banner ul li {
    display: inline-block
    /* margin-bottom: 5px; */
}
.banner ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;

}
.banner ul li:nth-of-type(-n+3) {
    margin-right: 28px;
}
.ghLogo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 10px;
}
/* top end */
/* section :start */
.banner-in {
    /* width: 1200px; */
    height: 100%;
  
}

/* :left end */
.section_01 {
    width: 260px;
    height: 80px;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 0;
    box-sizing: border-box;
    margin-top: 70px;
    
}
.search {
    width: 220px;
    height: 40px;
    border: solid 1px #DDD;
    /* margin: auto; */
    position: absolute;
    left: 18px;
    top: 18px;
   
}
.search input {
    box-sizing: border-box;
    border: 1px solid #DDD;

    /* outline: 0; */
}
.search input[type=text] {
    width: 170px;
    height: 40px;
    padding-left: 50px;
    float: left;
    /* background-color: red; */
    color: #000;
    background-image: url(../images/search.png) ;
    background-repeat: no-repeat;
    background-size: 15% auto;
    background-position: left 10px top 8px;
   
}
.search input:focus {
    border-color: #343434;
    outline: 0;
}
.search input[type=submit] {
    width: 50px;
    height: 40px;
    background-color: #DDD;
    color: #fff;
}
/* 搜索栏介绍 */
/* rank :start */
.rank {
    width: 260px;
    height: 240px;
    background-color: #fff;
    margin-top: 10px;
}
.rank h3 {
    padding-left: 12px;
    padding-top: 16px;
    font-size: 16px;
    color: #666;
}
.rank ul {
    margin-top: 14px;
    margin-left: 10px;
    font-size: 0;
}
.rank_01 ul {
    margin-top: 18px;
}
.rank ul li{
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
}
.rank ul li:nth-of-type(1) {
    width: 16px;
    height: 16px;
    background-color: #522A5C;
    color: #fff;
    border-radius: 50%;
}
.rank .score {
    height: 16px;
    box-sizing: border-box;
    margin: 0 10px;
    border: 1px solid #522A5C;
    width: 100px;
    background-color: #F6F6F6;
    position: relative;
}
.rank_01 .score {
    width: 100px;
    background-color: #522A5C;
    /* border: 1px solid #522A5C; */
}

.rank_02 .score::after,
.rank_03 .score::after,
.rank_04 .score::after,
.rank_05 .score::after{
    content: " ";
    display: inline-block;
    background-color: #522A5C;
    height: 14px;
    position: absolute;
    left: 0;
}
.rank_02 .score::after {
    width: 84px;
}
.rank_03 .score::after {
    width: 64px;
}
.rank_04 .score::after {
    width: 40px;
}
.rank_05 .score::after {
    width: 22px;
}
/* .l-banner {
    min-height: 800px;
} */
.Tap ul  {
    list-style: none;
    font-size: 0;
    margin-top: 17px;
}
.Tap ul li {
    display: inline-block;
    font-size: 14px;
    /* font-size: 1rem; */
}
.Tap a {
    box-sizing: border-box;
    color: #000;
    padding: 15px 20px 15px 20px;
    display: block;
    background-color: #fff;
    border-top: 5px solid #DFC6E6;
    border-right: 1px solid #EEEEEE;

    /* line-height: 1.5; */
}
.Tap ul li:nth-of-type(2) a:hover {
    border-top-color: #522A5C;
}
.Tap ul li:nth-of-type(3) a:hover {
    border-top-color: #5900B2;
}
.Tap ul li:nth-of-type(4) a:hover {
    border-top-color: #8C2300;
}
.Tap ul li:nth-of-type(5) a:hover {
    border-top-color: #D9A300;
}
/* .tap :end */
/* 瀑布流开始 */
.subcategory {
    width: 710px;
    background-color: #fff;
    /* color: #fff; */
    min-height: 200px;
    padding: 20px 20px; 
    box-sizing: border-box;
    margin-bottom: 10px;
}
.subcategory:after {
    content: " ";
    display: block;
    clear: both;
}
.waterfall-left {
    float: left;
}
.waterfall-right {
    float: right;
}
.waterfall {
    width: 330px;
}
.story {
    margin-bottom: 10px;
    width:160px;
    color: #fff;
    break-inside: avoid;
}
.big-story {
    width: 330px;
}
.columns {
    column-count: 2;
    column-gap: 10px;
}
.story img{
    width: 100%;
}
.story h3 {
    font-size: 16px;
   padding: 5px 14px 0px 14px;
    line-height: 1.5;

}
.story p {
    font-size: 14px;
    padding: 5px 14px;
    line-height: 1.5;
}
.purple {
    background-color: #522A5C;
}
.bluePurple {
    background-color: #5900B2;
}
.yellow {
    background-color: #D9A300;
}
.brown {
    background-color: #8C2300;
}
.clickMore {
    width: 100%;
    background-color: #fff;
    height: 50px;
    margin-bottom: 30px;
}
.clickMore a {
    text-align: center;
    color: #000;
    line-height: 50px;
    display: block;
    position: relative;
    font-size: 14px;
}
.clickMore a:before{
  background-image: url(../task003/img/more.png);
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  position: absolute;
  left: 290px;
   top: 18px;
    
}

/* 瀑布流结束 */
/* footer :start */
footer {
    width: 100%;
    height: 380px;
    background-color: #000;
    position: relative;
    display: block;
} 
.introduce1  {
    height: 38px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.introduce1 ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    color: #fff;
}
.introduce1 ul {
    margin-left: 515px;
    /* text-align: center; */
    /* font-size: 0; */
}
.introduce1 ul li {
    float: left;
    margin-right: 25px;
}
.introduce2 {
    margin-top: 40px;
    margin-left: 110px;
    position: relative;
}
.introduce2 .footer1 dl{
    float: left;
    color: #ccc;
    margin-right: 150px;
    
    
}
.introduce2 .footer1 dl:last-of-type {
    margin-right: 0;
}
.introduce2 .footer1 dl dt {
    font-size: 15px;
    margin-bottom: 20px;
}
.introduce2 .footer1 dl dd{
    font-size: 12px;
    line-height: 25px;
}
.introduce2 .footer1 dl a:link {
    color: #fff;
}
.introduce2 .footer1 dl a:visited {
    color: azure;
}
.introduce2 .footer1 dl a:hover,
.introduce2 .footer1 dl a:focus {
    color: red;
}
.introduce2 .footer1 dl a:active {
    color: purple;
}
.clean {
    clear: both;
    content: " ";
    display: block;
}
.warn {
    position: absolute;
    bottom: -3px;
}
.warn  h1 {
    color: #fff;
    font-size: 15px;
    margin-left: 570px;
    margin-bottom: 20px;

}
.warn .img2 {
    margin-left: 585px;
}